<head>
  <meta charset="UTF-8" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
  />
  <style>
    h1, h2, h3, h4, h5, h6 { text-align: center; }
    p, div { text-align: center; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login</title>
</head>