@import "./../css/colors.scss";
// imported colors for reference:
// $teal-hover (alt color option)
// $darkest-grey (alt color text)
// $light-grey-background (default) 
// $text-dark (default text)

.banner-preview {
  width: 100%; 
  text-align: center; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 2.25em;
  box-shadow: "6px 20px rgba(0, 0, 0, 0.5)";
}

.teal {
  background: $teal-hover;
  color: $darkest-grey;
}

.default {
  background: $medium-grey;
  color: white;
  border-bottom: 1px lightgrey solid;
}

.light {
  background: white;
  color: #393F48;
}