.main-container {
  height: calc(100vh - 86px);
}

.about-container,
.submit-container {
  box-sizing: border-box;
  margin: auto;
  width: 80%;
  max-width: 1000px;
  background: #ecedee;
  width: 80%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-container {
  line-height: 1.6;
  min-height: 100%;
}

.submit-container {
  height: calc(100vh - 30px);
  max-height: 100%;
  background: #ecedee;
}

.content {
  color: #393e46;
  padding: 25px;
}

.sr-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: right;
  margin-left: 15px;
}

.sr-logo {
  border-radius: 5%;
  max-width: 400px;
}

.mac-logo {
  max-width: 400px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.image-container > div {
  margin: 10px;
}

@media (max-width: 992px) {
  .about-container,
  .submit-container {
    width: 100%;
  }
}
