/* This may need to move to main 
in the index root */
.leaflet-container {
  height: 100%;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 
--Copywriting-Produkt-01--
gray: #393E46 
gray2: #85898e
gray3: #2E3238  ?????
gray4: #2E3238 
blue: #00ADB5
white/beige: #FFF4E0
yellow: #F8B500
red/orange: #FC3C3C
*/
.card-map-container {
  display: flex;
}

.map-details-container {
  height: 280px;
  min-width: 300px;
}

.details-outer-container {
  margin-bottom: 35px;
  background: #ecedee;
  min-height: calc(100vh - 95px);
}

.results-outer-container {
  padding-bottom: 40px;
  background: #ecedee;
  min-height: calc(100vh - 240px);
}

.results-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.counts-container {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 5px 5px 5px;
  width: auto;
  background-color: #393e46;
  border-radius: 2px;
  border: 1px solid gray;
  background-color: #ecedee;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.counts {
  margin: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;

}

.counts:nth-child(1n) {
  color: #1c4976;
}

.counts:nth-child(2n) {
  color: #774a1c;
}

.counts:nth-child(3n) {
  color: #1c794b;
}


.print-button-container {
  visibility: hidden;
}



.cards-container {
  margin-top: 5px;
  grid-column: 1 / span 3;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.map-container {
  grid-column: 1 / span 3;
  border-radius: 3px;
  height: 68vh;
}

.card-container {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 3px;
  color: #393f48;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-between;
}

.card-category {
  font-size: 0.8rem;
  padding: 3px 8px 3px 8px;
  color: white;
  background: #85898e;
  margin-bottom: 5px;
  margin-left: -5px;
}

/* the listing title */
.card-listing {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-print,
.card-save {
  color: #393f48;
  padding: 10px;
  /* this needs to be set for icons */
  font-size: 2.5rem;
}

.spacer {
  flex: 1;
}

.card-parent {
  grid-column: 1 / span 3;
}

.card-street {
  margin-top: 5px;
  padding: 5px 10px 10px 10px;
  grid-column: 1 / span 2;
  background: #ecedee;
}

.card-street > div > a {
  color: #00adb5;
}

.card-street > div > a:hover,
.card-street > div > a:focus {
  color: #008a8f;
}

.card-distance {
  margin-top: 10px;
}

.card-map-marker {
  margin-right: 3px;
}

.card-phone-container {
  grid-column: 1 / span 2;
  color: #393f48;
  padding: 10px;
}

/* the container for the phone icon and numbers */
.card-phone-container > div {
  display: grid;
  grid-template-columns: 25px 1fr;
}

/* the phone icon */
.card-phone-container > div > .phone-icon {
  grid-column: 1 / span 1;
}

.card-phone-container > div > .card-phone {
  grid-column: 2 / span 1;
}

/* the phone numbers 
make sure the margin is the same 
on .card-phone-container*/
.card-web-container {
  grid-column: 3 / span 1;
  padding: 10px;
  color: #00adb5;
}

.card-web-container > div > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card-web-container:hover,
.card-web-container:focus {
  color: #008a8f;
}

.card-item {
  grid-column: 1 / span 3;
  margin-bottom: 10px;
}

.card-item-flex {
  grid-column: 1 / span 3;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-title-flex {
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.covid-item {
  color: red;
  font-weight: 500;
}

.covid-temp-listing {
  grid-column: 3 / span 1;
  padding: 8px;
}

.card-content {
  padding: 5px;
  line-height: 1.4;
  background: #ecedee;
}

.card-undisclosed {
  color: #fc3c3c;
}

/* popup */
.popup-container {
  display: flex;
  flex-direction: column;
}

.popup-container > :first-child {
  font-size: 1.25rem;
}

.popup-tooltip {
  font-size: 1rem;
}

.popup-show-details {
  text-align: center;
  justify-self: center;
  margin: 5px;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  background: white;
  border: 1px solid #393f48;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.undisclosed-count {
  position: fixed;
  right: 30px;
  bottom: 50px;
  padding: 15px;
  background-color: #fc3c3c;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  z-index: 50;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gps-icon {
  padding-top: 3px;
}

/*  w3 button stuff*/
.card-save-button {
  margin-left: 10px;
  border: none;
  display: inline-block;
  padding: 5px 5px;
  min-width: 61px;
  max-height: 27px;

  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 100ms ease-in;
}

.card-save-button > svg {
  margin-right: 5px;
}

.card-save-button:hover {
  background-color: #ecedee;
}

.card-save-button:hover:enabled {
  background: linear-gradient(#2e3238 #393e46);
  text-decoration: none;
}

.card-save-button:active {
  transform: translateY(1px);
}

@media (min-width: 992px) {
  .results-container {
    grid-template-columns: minmax(300px, 500px) 1fr 1fr;
  }

  .cards-container {
    grid-column: 1 / span 1;
    /* overflow: scroll; */
  }

  .map-container {
    grid-column: 2 / span 2;
    grid-row-start: 1;
    position: sticky;
    top: 65px;
    height: 68vh;
    margin-top: 5px;
    padding: 0;
  }

  .print-details-button {
    display: inline-block;
    color: black;
  }

  .print-button-container {
    visibility: visible;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 60px;
    right: 5px;
    z-index: 999;
  }
  .print-button {
    margin: 5px 5px 30px 5px;
    color: rgba(0, 0, 0, 0.9);
  }

  .print-button,
  .print-details-button {
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .print-button:hover,
  .print-details-button:hover,
  .popup-show-details:hover {
    background-color: #ecedee;
  }

  .print-button:enabled,
  .print-details-button:enabled,
  .popup-show-details:enabled {
    background: linear-gradient(#2e3238 #393e46);
    text-decoration: none;
  }

  .print-button:active,
  .print-details-button:active,
  .popup-show-details:active {
    transform: translateY(1px);
  }
}

@media (min-width: 1200px) {
  .details-inner-container {
    padding: 0 30px 0 30px;
    margin: auto;
    width: 75%;
  }
}
