  <head>
  <title>Rose City Resource Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <script>
      function runEtlScript() {

        /* Prompt for confirmation */
        let confirmation = confirm("Are you sure you want to import data?");
        if (confirmation == false){ return; }
        document.getElementById('status').innerText = 'Preparing to run import process...';

        /* Trigger the ETL process to start */
        fetch(window.location.href + '?' + new URLSearchParams({ action: 'runetl' }), { method: 'GET' })
          .catch(e=>{ document.getElementById('status').innerText = 'Failed to start import process'; })

        /* Query the server for ETL status on an interval */
        window.setInterval(async function() {

          /* Fetch and display ETL logs */
          let etlLog = await fetch(window.location.href + '/etlstatus')
            .catch(e=>{ /* Ignore */ })
          let json = await etlLog.json();
          console.log(json)
          let logDiv = document.getElementById('etl-log');
          logDiv.innerHTML = 
            json.map(L => {
              let dt = new Date(L.time_stamp);
              dt.setHours(dt.getHours() - 7);
              return '<tr><td style="color: navy;">' + dt.toLocaleTimeString() + '</td><td style="color:blue;">' + L.message + '</td></tr>'
          }).join('')

          /* Update the status message */
          const jobStart = json.filter(L => L.message === 'Job Start')
          const jobEnd = json.filter(L => L.message === 'Job End')
          if (jobStart && jobStart.length === 1){
            document.getElementById('status').innerText = 'Import process is running...';
          }
          if (jobEnd && jobEnd.length === 1){
            document.getElementById('status').innerText = 'Import completed successfully';
            clearInterval(this);
          }
        }, 10000)

      }
    </script>
  </head>
  <body class='container' style='text-align: center'>
    <br />
    <a href="/admin/settings">Settings</a> |
    <a href="/admin/login">Logout</a>
    <h1>RCR Admin Dashboard</h1>
    <div>Import Airtable data into Rose City Resource</div>
    <br/>
    <button onclick='runEtlScript()'>Import Airtable Data</button>
    <br/>
    <br/>
    <div><span id='status'></span></div>
    <br/>
    <details open>
      <summary>Logs</summary>
      <table style='margin-left: auto; margin-right: auto'>
        <tbody id='etl-log'></tbody>
      </table>
    </details>
  </body>