<%- include('./partials/head'); %>
  <h1>Register New User</h1>

  <ul>
    <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </ul>
  <p><em>Developer note: this page is not connected to the database and will not work.</em></p>
  <form action="/admin/register" method="POST">
    <div>
      <label for="name">First and Last Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="First and last name"
        required
      />
    </div>
    <div>
      <label for="email">Email: </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div>
      <label for="password">Temporary Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div>
      <input type="submit" value="Register" />
      <a href="/admin/dashboard">Cancel</a>
    </div>
  </form>