.emergency-button-small {
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: .5em;
  margin-top: 1em;
  cursor: pointer;
  background-color: #990000;
  border: 2px solid white;
  border-radius: 5px;
}

.emergency-button-small p {
color: white;
font-size: 1.5em;
line-height: 0;
font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
font-weight: 900;
font-stretch: condensed;
}

@media (min-width: 992px) {
  .emergency-button-small {
    display: none
  }
}

@media (min-width: 768px) {
  .emergency-button {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .emergency-button p {
    font-size: 2em;
    line-height: 0%;
  }
}

@media (max-width: 992px) {
  .emergency-button {
    width: 80%;
  }
}

.emergency-button-large {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: .5em;
  margin-top: 1em;
  cursor: pointer;
}

@media (min-width: 992px) {
  .emergency-button-large {
    display: none;
  }
}