<head>
  <meta charset="UTF-8" />
  <!-- semantic links  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <style>
    h1, h2, h3, h4, h5, h6 { text-align: center; }
    p, div { text-align: center; }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- TODO: go back and import only the scripts for types of elements used (accordion, button, etc). check here for examples: https://cdnjs.com/libraries/semantic-ui -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <!-- elements used: form, container, button, input, checkbox -->
  
  <title>Street Roots Staff RCR Admin Page</title>
</head>