<style>
  .rectangle {
    height: 45vh;
    width: 300px;
    border: 1px solid grey;
    border-radius: 7px;
  }
</style>


  <div class="rectangle" id="instructions-div">

  </div>
  <div class="rectangle">

  </div>
  <div class="rectangle">
    
  </div>

<script>

</script>

<!-- <h3>
  Instructions
</h3>


<br />
<button class="ui button basic violet" onclick="handleStepComplete('step-1', 'step-2')">Step Completed</button> -->

<!-- </div> -->