<style>
  .rectangle {
    height: 45vh;
    width: 300px;
    border: 1px solid grey;
    border-radius: 7px;
  }
</style>


<button class="ui button basic violet big"
  onclick="handleStepComplete('step-1', 'step-2')" style="margin-top: 15vh">Import Data to Preview Site</button>
<!-- 
  <div class="rectangle" id="instructions-div">

  </div>
  <div class="rectangle">

  </div>
  <div class="rectangle">
    
  </div> -->
  <!-- <div>

  <button class="ui button basic blue big"
  onclick="handleStepComplete('step-1', 'step-2')" style="margin-top: 15vh">
  Next Step</button>
</div> -->

<script>

</script>

<!-- <h3>
  Instructions
</h3>


<br />
<button class="ui button basic violet" onclick="handleStepComplete('step-1', 'step-2')">Step Completed</button> -->

<!-- </div> -->