<%- include('./partials/styles'); %>

<div><br />
<!-- <a href="/admin/settings">Change Password</a> | -->
<a href="/admin/register">Settings</a> |
<a href="/admin/logout">Logout</a>
<a href="admin/banner">Edit banner</a>
</div>