<!-- <h3>
  Live site update instructions
</h3> -->
<br />

<button class="ui button basic violet big"
  onclick="alert('Congrats! You updated the site!')" style="margin-top: 15vh">Update Live Site</button>