$about-background: #ecedee;

// there are several greys used in the ap. this is used as the app background
$app-background: #85898e;


// the colors that make up the primary dark backgrounds of the app - specifically the nav container, footer, header, and search/categories containers
$primary-medium: #393e46;
$primary-dark: #2e3238;