.nav {
  background: #393e46;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.nav-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sr-logo {
  padding-left: 0.5rem;
  max-width: 120px;
}

.rcr-logo {
  padding-left: 0.5rem;
  max-width: 200px;
}

.spacer {
  flex: 1;
}

.nav-item {
  color: white;
  height: 100%;
  padding: 20px 15px 0 15px;
  transition: color 0.2s ease-out;
}

.nav-item:hover {
  color: #f8b500;
}

.nav-item-active {
  background: #85898e;
  color: #f8b500;
  border-top: 2px solid #f8b500;
}

.hamburger-icon {
  color: white;
  font-size: 2.3rem;
  display:inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-drawer-item {
  color: white;
  padding: 10px 15px 10px 5px;
  transition: color 200ms ease-in;
}

.nav-drawer-item:hover {
  color: #f8b500;
}

.nav-drawer-item-active {
  background: #85898e;
  color: #f8b500;
  border-top: 2px solid #f8b500;
}

.navdrawer {
  display: none;
  height: 0px;
}

.navdrawer-exit {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 80px;
}

.navdrawer-exit-active {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 0px;
  transition: all 200ms linear;
}

.navdrawer-exit-done {
  display: none;
  height: 0px;
}

.navdrawer-enter {
  display: flex;
  visibility: hidden;
  height: 0px;
}

.navdrawer-enter-active {
  display: flex;
  flex-direction: column;
  height: 80px;
  transition: all 200ms linear;
}

.navdrawer-enter-done {
  display: flex;
  flex-direction: column;
  height: 80px;
}

