<h3>
  Instructions
</h3>
<p>
  Updating the Rose City Resource live site is a three step process. 
</p>
<p>
  Note: this guide assumes that the data in Airtable has been reviewed and formatted appropriately. Please double check for misspellings or missing fields before beginning the import process.
</p>
<p>
  Step 1: Import Data from Airtable
</p>
<p>
  This step is straightforward. Just triple check that the information on Airtable is accurate, correct, and ready to be deployed on the live site. Then, click "Update Preview Site."
</p>
<p>
  This process takes about 5 minutes total, since the data needs to go through some formatting to get it ready to be displayed on the site. 
</p>
<p>
  If there are any errors, they'll show up in the "Errors" box. 
</p>
<p>
  [Give them instructions for what they should do upon seeing errors.]
</p>
<p>
  Once the data has successfully been imported, you'll see a message that allows you to go onto the next step: previewing the data on the preview site. 
</p>

<p>
  Step 2: Preview new data on the preview site
</p>
<p>
  Click this link to go to a "preview" version of the Rose City Resource Guide. It will have your new data loaded up into it, but it isn't live yet. You still have time to make changes if you spot errors in the data. 
</p>
<p>
  Go to different pages on the preview site and search for a few different keywords and categories, just to make sure the new data looks correct. 
</p>
<p>
  [If you run into errors...] (TODO)
</p>
<p>
  If the preview is correct, press "Update Live Site," and your data will be pushed to the live site 
</p>

<p>

</p>

<!-- details pattern  -->
<details closed>
  <summary><strong>Instructions</strong></summary>
  <div>
    More info here
  </div>
</details>

<!-- previous dashboard instructions:  -->
  <details closed>
    <summary><strong>Instructions</strong></summary>
    <div style="font-family: 'Courier New', Courier, monospace; font-size: 14px;">
      Instructions: this admin page supports a two-step data import process from Airtables to Rose City Resource.<br>
      The flow is: <strong>Airtables --> Preview Site --> Live Site</strong><br>
      NOTE: the data must <em>first be imported to the Preview Site</em> before it can be imported to the Live Site.<br>
      Step 1) Import data from Airtable into Rose City Resource by choosing <em>Import Data to Preview Site</em><br>
      Step 2) Validate the preview data by testing the preview site. A link to preview the imported data will be
      provided.<br>
      Step 3) Import data from the preview site to the live site by choosing <em>Import Data to Live Site</em>
    </div>
  </details>

  <!-- draft  -->
  <div class="left-col">
    <div class="header">
      Step 1: Import Data from Airtable
    </div>
    <ol class="ui list">
      <li>Click "Import Data to Preview Site"</li>
      <li>Wait for the data import process to complete
      <ol>
        <li value="-">
          It takes about five minutes
        </li>
        <li value="-">
          You can view the progress by clicking "Data Logs"
        </li>
        <li value="-">
          If you get an error, copy the text of the error message and email it to your technical support contact
        </li>
      </ol> 
    </li>
    </ol>
  </div>
  <div class="ui stackable four column grid">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  
  <!-- <ol class="ui list">
    <li>Click "Import Data From Airtable"</li>
    <li>Wait for the import process to complete
      <ul>
        <li>Use Anywhere</li>
      <ul>
    </li>
    <li>Benefits
      <ul>
        <li>Use Anywhere</li>
        <li>Rebates</li>
        <li>Discounts</li>
      </ul>
    </li>
    <li>Warranty</li>
  </ol> -->