<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<script>
  function showPreview() {
    let textBoxValue = document.getElementById('banner-html').value;
    let outputDiv = document.getElementById('output');

    if (textBoxValue === "") { outputDiv.innerHTML = "<em>Enter text to see banner preview</em>" }
    outputDiv.innerHTML = textBoxValue;
  }

  function handleSubmit() {
    e.preventDefault();
    console.log('HANDLESUBMIT E',e)
    const data = { content: e.content, isEnabed: e.isEnabled };

    fetch('/admin/set-site-banner', {
      method: 'POST',
      mode: 'cors',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).error(err => console.warn(err))
  }

</script>
<div class="banner-preview">
  <div id="output">
    <em>Enter text to see banner preview</em>
  </div>
</div>


<div class="page">
  <!-- semantic ui header  -->
  <h1 class="ui header violet">
  <div class="content">
    <i class="edit icon"></i>
    Edit Banner
  </div>
  <div class="sub header">
    <em>You can view the current site banner by visiting the live site at <a href="https://rosecityresource.streetroots.org/" target="_blank">rosecityresource.streetroots.org</a></em>
  </div>
  </h1>

    <div class="ui segment form-container">

      <div class="banner-info">
        <strong>Instructions:</strong>
        Enter the information you want displayed in the site banner, formatted using HTML.
      </div>
      <p></p>
  
      <!-- FORM  -->
      <form class="ui form" id="form">
        <!-- textarea  -->
        <div class="field" style="margin: .5em">
          <label>Banner content</label>
          <textarea 
            name="content"
            id="banner-html"
            aria-label="Input to enter HTML and text for the site banner" 
            placeholder="Banner text...">
          </textarea>
        </div>
        
        <!-- checkbox  -->
        <div class="toggle-and-submit" style="display: flex; flex-direction: column; justify-content: center">
          <div class="ui toggle checkbox" style="margin: 1em">
            <input type="checkbox" tabindex="0" class="hidden" 
              name="isEnabled" id="isEnabled" /> 
            <label>Enable site banner</label>
          </div><br />

          <button class="ui button violet basic" type="submit">
            Update live site
          </button>
        </div>
      </div> 

        <!-- <div class="ui buttons">
          <button class="ui button violet" type="button" onClick="showPreview()">Update preview</button>
          <div class="or" data-text="or"></div>
          <button class="ui button violet basic" type="submit">
            Update live site</button>
        </div>  -->
      </form>
    </div>

<script>
  $('.ui.checkbox')
  .checkbox();


  let form  = document.getElementById('form');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const content = form.elements['content'].value.trim();
    const isEnabled = form.elements['isEnabled'].checked;

    (async () => {
      const rawResponse = await fetch('/admin/set-site-banner', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({content: content, isEnabled: isEnabled})
      });
      const result = await rawResponse.text(); 

      console.log(result);
        // create options for: successfully updated, successfully removed, error message
        // if (res.statusText === "Created") { 
        //   alert('You have successfully updated the site banner. Visit rosecityresource.streetroots.org to see it in action.')
        // } else {
        //   alert('')
        // }
    })();


  });

</script>
</div>