<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<%- include('./partials/styles'); %>
<head>
  <style>
    #data-header {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      margin: 5px 3em;
    }

    #data-header h1 {
      align-self: flex-end;
      text-align: left;
    }

    #dashboard h2 {
      font-size: 1.5em;
      margin: .5em;
    }

    #dashboard header {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      margin-bottom: 1em;
    }

    #dashboard #page {
      display: flex; 
      align-items: flex-start;
    }

    #dashboard nav {
      border-radius: 5px; 
      width: 175px;
    }

    #dashboard #update-div {
      border-radius: 5px; 
      margin: auto; 
      width: 250px; 
      padding: 10px 20px;
    }

  </style>
</head>
<body>
  <% 
    
  let activeStep = "step-1";
  let completedSteps = [];
  let disabledSteps = ["step-2", "step-3"];

  %>

  <div class='container' style="margin: 1em" id="dashboard">
    <header>
      <h1
        class="ui header violet" style="margin: .5em; margin-bottom: 1em">
        <div class="content">
          <i class="sync icon"></i>
          Update Website Data
        </div>
      </h1>

      <div id="update-div" class="ui segment">
        <div><em>Live Site Last Update: <span id='last-update-time'>&nbsp;</span></em></div>
        <div><span>Database Rows in Use: </span><span id='database-rows'>&nbsp;</span><span> / 10,000</span></div>
        <div><span>Database Space in Use: </span><span id='database-space'>&nbsp;</span><span> / 1 GB</span></div>
      </div>
    </header>

    <div id="page">
    <!-- navbar  -->
    <div class="sidebar">
      <nav class="ui vertical attached pointing menu">
        <a class="active item">
          Instructions
        </a>
        <a class="item">
          1. Import Data
        </a>
        <a class="item">
          2. Preview
        </a>
        <a class="item">
          3. Update Site
        </a>
      </nav> 
    </div>

  <!-- begin main content  -->
  <div class="ui attached segment" 
    style="padding-top: 0; margin-top: 0; width: 100%; min-height: 75vh;">

    <h2>Instructions</h2>
    <div class="instruction-div">

    </div>



  </div>
  </div>
</div>


</body>