<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<%- include('./partials/styles'); %>
<head>
  <style>
    #data-header {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      margin: 5px 3em;
    }

    #data-header h1 {
      align-self: flex-end;
      text-align: left;
    }
  </style>
</head>
<body>
  <% 
    
  let activeStep = "step-1";
  let completedSteps = [];
  let disabledSteps = ["step-2", "step-3"];

  %>
    <!-- <header>
      <div id="data-header">
  
      <h1 class="ui header violet">
        <div class="content">
          <i class="sync icon"></i>
          Update Data
        </div>
        <div class="sub header">
          Need help? Check out the <a href="/admin/guide"> user guide!</a>
        </div>
      </h1>
    </div>
   </header> -->
  <div class='container' style="margin: 1em">
  <header style="display: flex; justify-content: center; align-items: center;">
    <!-- <h1 style="margin: .5em 0 1em 0"  -->
    <h1
      class="ui header violet" style="margin: .5em; margin-bottom: 1em">
      <div class="content">
        <i class="sync icon"></i>
        Update Website Data
      </div>
    </h1>

    <div style='border-radius: 5px; margin: auto; width: 250px; padding: 10px 20px;' class="ui segment">
      <div><em>Live Site Last Update: <span id='last-update-time'>&nbsp;</span></em></div>
      <div><span>Database Rows in Use: </span><span id='database-rows'>&nbsp;</span><span> / 10,000</span></div>
      <div><span>Database Space in Use: </span><span id='database-space'>&nbsp;</span><span> / 1 GB</span></div>
    </div>
  </header>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  
  <main>
  <div id="content-all" style="display: flex; align-items: flex-start;">
  <!-- navbar  -->
  <div class="sidebar">
    <nav class="ui vertical attached pointing menu" style="border-radius: 5px; width: 175px">
      <a class="active item">
        Instructions
      </a>
      <a class="item">
        1. Import Data
      </a>
      <a class="item">
        2. Preview
      </a>
      <a class="item">
        3. Update Site
      </a>
    </nav> 
  <!-- end of sidebar  -->
  </div>

  <!-- begin main content  -->
  <div class="ui attached segment" 
    style="padding-top: 0; margin-top: 0; width: 100%; min-height: 75vh;">
    <p>Content</p>
    <p>Content</p>

    <p>Content</p>

    <p>Content</p>

    <p>Content</p>

    <p>Content</p>

    <p>Content</p>

    <p>Content</p>

  </div>
  </div>
</div>
  </main>


</body>