<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<%- include('./partials/styles'); %>
<div style="display: flex; justify-content: center; margin-top: 5em; font-size: 2em">
  User guide in progress
</div>