<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<style>
  li {
    margin-left: 2em;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  #page {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-size: 16px;
  }
</style>

<header>
  <h1
    class="ui header violet" style="margin: .5em; margin-bottom: 1em">
    <div class="content">
      <i class="book icon"></i>
      User Guide
    </div>
  </h1>

  <main class="ui container">
    <div class="flex-container ui segment" id="page">

    <div>
      <p style="text-align: center;"><strong>
        Welcome to the new Rose City Resource Admin Panel!
      </p></strong>
      <p>The user guide will show you how to:</p>
      <ul class="ui list">
        <li>Change your password</li>
        <li>Create a new user</li>
        <li>Add, edit, or remove the site banner</li>
        <li>Update the live site data</li>
      </ul>
    </div>


    <div class="guide-link ui raised segment" style="font-size: 16px; padding: 1em; margin-top: 2em; margin-bottom: 2em;">
      <a href="https://docs.google.com/document/d/1_v9uEX5B3XhMPsea2retTEO9ub_8Vypq2xr9Wfir1RM/edit?usp=sharing" target="_blank">View the guide on Google Drive</a>
    </div>
  </div>
  </main>


