<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<h1>Street Roots Admin Page</h1>

<% if(message && message.length > 0) { %>
  <div>
    <%= message %>
  </div>
<% } %>

<a href="/admin/login">Login</a>