<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<%- include('./partials/styles'); %>


<div>
  <br />
  <a href="/admin/dashboard">Dashboard</a> |
  <a href="/admin/logout">Logout</a>
</div>
  <h1>Register New User</h1>
  <ul>
    <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
    <li><%= error.message %></li>
    <% }) %> <% } %>
  </ul>
  <form action="/admin/register" method="POST">
    <div>
      <label for="name">First and Last Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="First and last name"
        required
      />
    </div>
    <div>
      <label for="email">Email: </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div>
      <label for="password">Temporary Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div>
      <label for="role">User Role:
      <select name="role" required>
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </label>
    </div>
    <div>
      <input type="submit" value="Create" />
      <a href="/admin/dashboard">Cancel</a>
    </div>
  </form>