<%- include('./partials/head'); %>
<%- include ('./partials/navbar'); %>
<%- include('./partials/styles'); %>

<h1>Change Your Password</h1>

<ul>
  <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
  <li><%= error.message %></li>
  <% }) %> <% } %>
</ul>
<!-- <p><em>Developer note: this page is not connected to the database and will <strong>not</strong> work.</em></p> -->
<form action="/admin/changePassword" method="POST">
  <!-- <div>
    <label for="password">Current Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Current Password"
      required
    />
  </div> -->
  <div>
    <label for="newPass1">New Password:</label>
    <input
      type="password"
      id="newPass1"
      name="newPass1"
      placeholder="New Password"
      required
    />
  </div>
  <div>
    <label for="newPass2">Confirm New Password:</label>
    <input
      type="password"
      id="newPass2"
      name="newPass2"
      placeholder="Confirm Password"
      required
    />
  </div>
  <div>
    <input type="submit" value="Submit" />
    <a href="/admin/dashboard">Cancel</a>
  </div>
</form>